node_modules
dist
out
.DS_Store
.eslintcache
*.log*
tmp-svp-*
coverage/

build/

*.snap
/snap/snapcraft.yaml

bruno/

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
!.yarn/cache
.pnp.*
.devin

/flatpak/io.github.xfuentes.smart-video-processor.yml
/flatpak/io.github.xfuentes.smart-video-processor.metainfo.xml
/flatpak/io.github.xfuentes.smart-video-processor.desktop
/repo/
