[Desktop Entry]
Exec=__NAME__
Icon=smart-video-processor.png
Version=__VERSION__
Type=Application
Terminal=false
Name=Smart Video Processor
Comment=__DESCRIPTION__
Categories=AudioVideo
MimeType=video/x-matroska;video/x-msvideo;video/mp4
Keywords=encode;organize;video;movie;show
