[Desktop Entry]
Exec=smart-video-processor
Icon=${SNAP}/opt/smart-video-processor/smart-video-processor.png
Version=1.5.6
Type=Application
Terminal=false
Name=Smart Video Processor
Comment=Automated video processing. Re-Organize, Re-encode, adds metadata and image.
Categories=AudioVideo
MimeType=video/x-matroska;video/x-msvideo;video/mp4
Keywords=encode;organize;video;movie;show
