name: release

on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+

jobs:
  release:
    permissions:
      contents: write
      discussions: write
      deployments: write
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ windows-2025 ]
        node-version: [22.x]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4

      - name: Install Windows SDK
        if: runner.os == 'Windows'
        uses: GuillaumeFalourd/setup-windows10-sdk-action@v2.4

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'

      - name: Install Dependencies
        run: yarn install --frozen-lockfile

      - name: build
        run: yarn run build --if-present

      - name: test
        run: yarn run test

      - name: package
        run: yarn run package

      - name: release
        uses: softprops/action-gh-release@v1
        with:
          draft: true
          files: |
            dist/**/RELEASES
            dist/**/*.exe
            dist/**/*.nupkg
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
