name: release win32

on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+

jobs:
  release:
    permissions:
      contents: write
      discussions: write
      deployments: write
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ windows-2025 ]
        node-version: [22.x]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Install Windows SDK
        if: runner.os == 'Windows'
        uses: GuillaumeFalourd/setup-windows10-sdk-action@v2.4

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'

      - name: Install Dependencies
        run: yarn install --frozen-lockfile

      - name: build
        run: yarn run build

      - name: test
        run: yarn run test

      - name: package
        run: yarn run package
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Configure Microsoft Store CLI
        uses: microsoft/microsoft-store-apppublisher@v1.1

      - name: Reconfigure Store Credentials
        run: msstore reconfigure `
          --tenantId ${{ secrets.AZURE_AD_TENANT_ID }} `
          --sellerId ${{ secrets.SELLER_ID }} `
          --clientId ${{ secrets.AZURE_AD_GH_CLIENT_ID }} `
          --clientSecret ${{ secrets.AZURE_AD_GH_SECRET }}

      - name: Publish to Microsoft Store
        run: msstore publish -i '${{ github.workspace }}/dist/win-unpacked/' -id 9PG7L9JR8K6M
