name: release win32

on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+
  workflow_dispatch:

jobs:
  release:
    permissions:
      contents: write
      discussions: write
      deployments: write
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ windows-2025, windows-11-arm ]
        node-version: [22.x]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4

      - name: Install Windows SDK
        if: runner.os == 'Windows'
        uses: GuillaumeFalourd/setup-windows10-sdk-action@v2.4

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'

      - name: Install Dependencies
        run: yarn install --frozen-lockfile

      - name: build
        run: yarn run build

      - name: test
        run: yarn run test

      - name: prepare-package
        run: yarn run prepare-package
        env:
          MY_FILES_API_KEY: ${{ secrets.MY_FILES_API_KEY }}

      - name: package
        run: yarn run package
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Set Package Name
        run: |
          if [ "${{ matrix.os }}" == "windows-11-arm" ]; then
            echo "PACKAGE_NAME=smart-video-processor-arm64.appx" >> $GITHUB_ENV
            echo "PACKAGE_ARCH=arm64" >> $GITHUB_ENV
          else
            echo "PACKAGE_NAME=smart-video-processor-x64.appx" >> $GITHUB_ENV
            echo "PACKAGE_ARCH=X64" >> $GITHUB_ENV
          fi

      - name: Configure Store Credentials
        uses: microsoft/store-submission@v1
        with:
          command: configure
          type: win32
          seller-id: ${{ secrets.SELLER_ID }}
          product-id: '9PG7L9JR8K6M'
          tenant-id: ${{ secrets.AZURE_AD_TENANT_ID }}
          client-id: ${{ secrets.AZURE_AD_GH_CLIENT_ID }}
          client-secret: ${{ secrets.AZURE_AD_GH_SECRET }}

      - name: Update Draft Submission
        uses: microsoft/store-submission@v1
        with:
          command: update
          product-update: '{"packages":[{"packageUrl":"${{ github.workspace }}/dist/${{ env.PACKAGE_NAME }}","architectures":["${{ env.PACKAGE_ARCH }}"],"isSilentInstall":true}]}'

      - name: Publish Submission
        uses: microsoft/store-submission@v1
        with:
          command: publish
